<% include partials/header.ejs %>
    <h1>Welcome to our voting page!</h1>
    <img src = "http://www.gaonchart.co.kr/upload_images/board/201703/F3742D19DF22415F89ADFB68201A34C4.jpg" style="border: none; width: 100%;" alt="California Nature">

</body>
</html>