<% include ../partials/header.ejs %>
    <h2>Login</h2>
    <table>
        <form action="/access/login" method="POST">
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><br><button type="submit">Submit</button></td>
        </tr>
        </form>
    </table>
    <a href ="/access/register"> Register </a>
    </div>
</body>
</html>