<% include ../partials/header.ejs %>
    <h2>Login</h2>
    
    <table>
        <form action="/access/login" method="POST">
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><br><button type="submit">Submit</button></td>
        </tr>
        </form>
    </table>
<<<<<<< HEAD
    <a href ="/access/register"> Register </a>
=======
    <div>
        <a href="/access/register">Register</a>
>>>>>>> fd40794a47017fe944ae0632c61a4f544967811f
    </div>
</body>
</html>