<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <table>
        <form action="/access/login" method="POST">
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><br><button type="submit">Submit</button></td>
        </tr>
        </form>
    </table>
</body>
</html>